{% extends 'gestion_riego/layout.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock titulo %}
{% block card_title %} {{ title }} {% endblock card_title %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-5">Historial mensual</h1>
        <p class="lead">Datos de los sensores</p>
        <hr class="my-4">
        <input type="date" id="dateMes">
        <div class="row">
            <div class="col-lg-12">
                <figure class="highcharts-figure">
                    <div id="c_sensor_humedad_suelo"></div>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <figure class="highcharts-figure">
                    <div id="c_sensor_temperatura_ambiente"></div>
                </figure>
            </div>
            <div class="col-md-12 col-lg-6">
                <figure class="highcharts-figure">
                    <div id="c_sensor_humedad_ambiente"></div>
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered" id="data">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Código de Sensor</th>
                        <th scope="col">Tipo Sensor</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Dispositivo</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="{{ create_url }}" class="btn btn-success btn-flat" type="button">
            <i class="fas fa-plus"></i> Nuevo Sensor
        </a>
        <a href="{{ list_url }}" class="btn btn-secondary btn-flat" type="button">
            <i class="fas fa-sync"></i> Actualizar
        </a>
    </div>
{% endblock body %}

{% block javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'gestion_riego/sensor/js/list.js' %}"></script>
    <script>
        $(document).ready(function () {
            //Se ha comentado por su tardia respuesta
            var optionsHumedadSuelo = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Sensor de Humedad de Suelo'
                },
                subtitle: {
                    text: 'Historial por Día: {{mes}}'
                },
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'puntos'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} puntos</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Sensor 1',
                    data: {{ sensor_humedad_suelo_1|safe }}

                },
                    {
                        name: 'Sensor 2',
                        data: {{ sensor_humedad_suelo_2|safe }}

                    },
                    {
                        name: 'Sensor 3',
                        data: {{ sensor_humedad_suelo_3|safe }}

                    },
                    {
                        name: 'Sensor 4',
                        data: {{ sensor_humedad_suelo_4|safe }}

                    }]
            };

            var optionsHumedadAmbiente = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Sensor de Humedad Ambiente'
                },
                subtitle: {
                    text: 'Historial por Día: {{mes}}'
                },
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '%'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Sensor 1',
                    colorByPoint: true,
                    data: {{ sensor_humedad_ambiente_1|safe }}

                }]
            };
            var optionsTemperaturaAmbiente = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Sensor de Temperatura Ambiente'
                },
                subtitle: {
                    text: 'Historial por Día: {{mes}}'
                },
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'oC'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} oC</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Sensor 1',
                    colorByPoint: true,
                    data: {{ sensor_temperatura_ambiente_1|safe }}

                }]
            }
            var highHumedadSuelo = Highcharts.chart('c_sensor_humedad_suelo', optionsHumedadSuelo);
            var highTemperaturaAmbiente = Highcharts.chart('c_sensor_temperatura_ambiente', optionsTemperaturaAmbiente);
            var highHumedadAmbiente = Highcharts.chart('c_sensor_humedad_ambiente', optionsHumedadAmbiente);

            //Para ajax
            var optionsNewHumedadSuelo = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Sensor de Humedad de Suelo'
                },
                subtitle: {},
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'puntos'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} puntos</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: []
            }
            var optionsNewTemperaturaAmbiente = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Sensor de Temperatura Ambiental'
                },
                subtitle: {},
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'oC'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} oC</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: []
            }
            var optionsNewHumedadAmbiente = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Sensor de Humedad Ambiental'
                },
                subtitle: {},
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '%'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: []
            }

            $('#dateMes').on('change', function () {
                var fecha = $(this).val();
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_historial_sensores_month',
                        'fecha': fecha
                    },
                    dataType: 'json',
                }).done(function (data) {
                    //console.log(data);
                    console.log('ejecutado' + data.data_sensores_datatable[0]['id']);
                    //data.data_sensores_datatable.forEach(sensor => console.log(sensor))
                    var table = $('#data').DataTable();
                    table.clear();


                    var newTable = $('#data').DataTable({
                        destroy: true,
                        columns: [ //columnas de las tablas, se debe poner los campos del models.py
                            {"data.data_sensores_datatable": "id"},
                            {"data.data_sensores_datatable": "codigo_sensor"},
                            {"data.data_sensores_datatable": "tipo_sensor.nombre"},
                            {"data.data_sensores_datatable": "fecha_registro"},
                            {"data.data_sensores_datatable": "value"},
                            {"data.data_sensores_datatable": "estado"},
                            {"data.data_sensores_datatable": "device.nombre"},
                            {"data.data_sensores_datatable": null},
                        ],
                        columnDefs: [ //Por columna lo puedes personalizar
                            {
                                targets: [-1], //voy de atras hacia arriba
                                class: 'text-center',
                                orderable: false,
                                render: function (data, type, row) {
                                    //buttons: me creo mis botones con html, recuerda que estoy accediendo mediante objetos
                                    var buttons = '<a href="/gestion-riego/sensores/update/' + row.id + '/" class="btn btn-primary"><i class="fas fa-edit"></i></a> ';
                                    buttons += '<a href="/gestion-riego/sensores/delete/' + row.id + '/" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>'
                                    return buttons;
                                }
                            },
                        ],
                        initComplete: function (settings, json) {
                            //aqui va alguna funcion que se ejecutara despues de cargar la tabla
                        }
                    });


                    //var dia = new Highcharts.chart('container4', options1);
                    var newHighHumedadSuelo = new Highcharts.chart('c_sensor_humedad_suelo', optionsNewHumedadSuelo);
                    newHighHumedadSuelo.addSeries({
                        name: 'Sensor 1',
                        data: data.historial_sensor_humedad_suelo_month_1
                    })
                    newHighHumedadSuelo.addSeries({
                        name: 'Sensor 2',
                        data: data.historial_sensor_humedad_suelo_month_2
                    })
                    newHighHumedadSuelo.addSeries({
                        name: 'Sensor 3',
                        data: data.historial_sensor_humedad_suelo_month_3
                    })
                    newHighHumedadSuelo.addSeries({
                        name: 'Sensor 4',
                        data: data.historial_sensor_humedad_suelo_month_4
                    })
                    newHighHumedadSuelo.setSubtitle({
                        text: 'Historial por Día:' + data.mes
                    });

                    var newHighTemperaturaAmbiente = Highcharts.chart('c_sensor_temperatura_ambiente', optionsNewTemperaturaAmbiente);
                    newHighTemperaturaAmbiente.addSeries({
                        name: 'Sensor 1',
                        colorByPoint: true,
                        data: data.historial_sensor_temperatura_ambiente_month_1
                    })
                    newHighTemperaturaAmbiente.setSubtitle({
                        text: 'Historial por Día:' + data.mes
                    });

                    var newHighHumedadAmbiente = Highcharts.chart('c_sensor_humedad_ambiente', optionsNewHumedadAmbiente);
                    newHighHumedadAmbiente.addSeries({
                        name: 'Sensor 1',
                        colorByPoint: true,
                        data: data.historial_sensor_humedad_ambiente_month_1
                    })
                    newHighHumedadAmbiente.setSubtitle({
                        text: 'Historial por Día:' + data.mes
                    });
                    return false;
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                });
            });
        });

    </script>

{% endblock javascript %}

