{% extends 'gestion_riego/layout.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock titulo %}
{% block card_title %} {{ title }} {% endblock card_title %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-5">Historial mensual</h1>
        <p class="lead">Datos de los sensores</p>
        <hr class="my-4">
        <input type="date" id="dateForChart">
        <div class="row">
            <div class="col-lg-12">
                <figure class="highcharts-figure">
                    <div id="c_sensor_humedad_suelo"></div>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <figure class="highcharts-figure">
                    <div id="c_sensor_temperatura_ambiente"></div>
                </figure>
            </div>
            <div class="col-md-12 col-lg-6">
                <figure class="highcharts-figure">
                    <div id="c_sensor_humedad_ambiente"></div>
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <input type="date" id="dateForDatable">
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered" id="data">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Código de Sensor</th>
                        <th scope="col">Tipo Sensor</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Dispositivo</th>
                        <th scope="col">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="{{ create_url }}" class="btn btn-success btn-flat" type="button">
            <i class="fas fa-plus"></i> Nuevo Sensor
        </a>
        <a href="{{ list_url }}" class="btn btn-secondary btn-flat" type="button">
            <i class="fas fa-sync"></i> Actualizar
        </a>
    </div>
{% endblock body %}

{% block javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'gestion_riego/sensor/js/list.js' %}"></script>
    <script>
        //Guardo los datos recuperados de django en una variable de javascript
        var mes = '{{ mes }}';
        var sensor_humedad_suelo_1_avgs = {{ sensor_humedad_suelo_1_avgs|safe }};
        var sensor_humedad_suelo_2_avgs = {{ sensor_humedad_suelo_2_avgs|safe }};
        var sensor_humedad_suelo_3_avgs = {{ sensor_humedad_suelo_3_avgs|safe }};
        var sensor_humedad_suelo_4_avgs = {{ sensor_humedad_suelo_4_avgs|safe }};
        var sensor_humedad_ambiente_1_avgs = {{ sensor_humedad_ambiente_1_avgs|safe }}
        var sensor_temperatura_ambiente_1_avgs = {{ sensor_temperatura_ambiente_1_avgs|safe }}
    </script>
    <script src="{% static 'gestion_riego/sensor/js/search_for_date_ajax.js' %}"></script>

{% endblock javascript %}

