
{% extends 'gestion_riego/layout.html' %}
{% block titulo %}Lista de Personas{% endblock titulo %}

{% block body %}
<h2 id="nav-tabs">Sensores</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Temperatura Ambiente</th>
        <th>Humedad Ambiente</th>
        <th>Humedad Suelo</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
    {% for sensor in object_list %}
    <tr>
        <td>{{sensor.temp_ambiente}}</td>
        <td>{{sensor.humed_ambiente}}</td>
        <td>{{sensor.humed_suelo}}</td>
        <td>{{sensor.fecha_registro}}</td>
        <td><a href="{% url 'sensor_update' sensor.id %}">ACTUALIZAR</a>  <a href="{% url 'sensor_delete' sensor.id %}">ELIMINAR</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock body %}