{% extends 'gestion_riego/layout.html' %}
{% block titulo %}{{title}}{% endblock titulo %}

{% block card_title %} {{title}} {% endblock card_title %}

{% block body %}
<table class="table table-hover" id="data">
    <thead>
    <tr>
        <th>ID</th>
        <th>Valor</th>
        <th>codigo_sensor</th>
        <th>fecha_registro</th>
        <th>estado</th>
        <th>Tipo Sensor</th>
        <th>Dispositivo</th>
        <th>Opciones</th>

    </tr>
    </thead>
    <tbody>
    {% for sensor in object_list %}
    <tr>
        <td>{{sensor.id}}</td>
        <td>{{sensor.value}}</td>
        <td>{{sensor.codigo_sensor}}</td>
        <td>{{sensor.fecha_registro}}</td>
        <td>{{sensor.estado}}</td>
        <td>{{sensor.tipo_sensor.nombre}}</td>
        <td>{{sensor.device.nombre}}</td>

        <td><a href="{% url 'gestion_riego:sensor_update' sensor.id %}" class="btn btn-secondary">ACTUALIZAR</a> <a
                href="{% url 'gestion_riego:sensor_delete' sensor.id %}" class="btn btn-danger">ELIMINAR</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="card-footer">
    <a href="{{ create_url }}" class="btn btn-success btn-flat" type="button">
        <i class="fas fa-plus"></i> Nuevo Sensor
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat" type="button">
        <i class="fas fa-sync"></i> Actualizar
    </a>
</div>
<script>
  $(document).ready(function () {
  $('#data').DataTable( {
  dom: 'Bfrtip',
  buttons: [
      'copyHtml5',
      'excelHtml5',
      'csvHtml5',
      'pdfHtml5',
      'print'
  ]
  } );
  });


</script>
{% endblock body %}