{% extends 'gestion_riego/layout.html' %}
{% block titulo %}Formulario Tipo Suelo{% endblock titulo %}
{% block card_title %} Tipos Suelos {% endblock card_title %}
{% block body %}
<table class="table table-hover" id="data">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Densidad</th>
        <th>Opciones</th>

    </tr>
    </thead>
    <tbody>
    {% for tipo_suelo in object_list %}
    <tr>
        <td>{{tipo_suelo.id}}</td>
        <td>{{tipo_suelo.nombre}}</td>
        <td>{{tipo_suelo.descripcion}}</td>
        <td>{{tipo_suelo.densidad}}</td>
        <td><a href="{% url 'tipo_suelo_update' tipo_suelo.id %}" class="btn btn-secondary">ACTUALIZAR</a>  <a href="{% url 'tipo_suelo_delete' tipo_suelo.id %}" class="btn btn-danger">ELIMINAR</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

<script type="application/javascript">
    $(document).ready(function () {
      $("#data").DataTable({
        responsive: true,
      });
    });
  </script>
{% endblock body %}