{% extends 'gestion_riego/layout.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock titulo %}

{% block card_title %} {{ title }} {% endblock card_title %}

{% block body %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="table_tipo_sensores">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="{{ create_url }}" class="btn btn-success btn-flat" type="button">
            <i class="fas fa-plus"></i> Nuevo Tipo de Sensor
        </a>
        <a href="{{ list_url }}" class="btn btn-secondary btn-flat" type="button">
            <i class="fas fa-sync"></i> Actualizar
        </a>
    </div>

{% endblock body %}

{% block javascript %}
    <script src="{% static 'gestion_riego/tipo_sensor/js/TipoSensorView.js' %}"></script>
{% endblock javascript %}