{% extends 'gestion_riego/layout.html' %}
{% block titulo %}Formulario Persona{% endblock titulo %}

{% block card_title %} Personas {% endblock card_title %}

{% block body %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Password</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for persona in object_list %}
    <tr>
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <td>{{persona.email}}</td>
        <td>{{persona.tfno}}</td>
        <td>{{persona.password}}</td>
        <td><a href="{% url 'persona_update' persona.id %}" class="btn btn-secondary">ACTUALIZAR</a>  <a href="{% url 'persona_delete' persona.id %}" class="btn btn-danger">ELIMINAR</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock body %}