{% extends 'gestion_riego/layout.html' %}
{% block titulo %}{{title}}{% endblock titulo %}

{% block card_title %} {{title}} {% endblock card_title %}

{% block body %}
<form method="post"> {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">GUARDAR</button>
</form>
<script>
    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors+='{{ error }}\n';
            {% endfor %}
        {% endfor %}
        Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    })
    {% endif %}
</script>
{% endblock body %}