
{% extends 'gestion_riego/layout.html' %}

{% block titulo %}Lista de Tipos de Sensores{% endblock titulo %}
{% block card_title %} {{title}} {% endblock card_title %}
{% block body %}
<table class="table table-striped table-bordered" id="data">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>IP</th>
        <th>Topic</th>
        <th>Puerto</th>
        <th>Opciones</th>

    </tr>
    </thead>
    <tbody>
    {% for device in object_list %}
    <tr>
        <td>{{device.id}}</td>
        <td>{{device.nombre}}</td>
        <td>{{device.descripcion}}</td>
        <td>{{device.ip}}</td>
        <td>{{device.topic}}</td>
        <td>{{device.puerto}}</td>
        <td><a href="{% url 'gestion_riego:device_update' device.id %}" class="btn btn-secondary">ACTUALIZAR</a>  <a href="{% url 'gestion_riego:device_delete' device.id %}" class="btn btn-danger">ELIMINAR</a>
            <a href="{% url 'gestion_riego:device_dashboard' %}" class="btn btn-primary">DASHBOARD</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="card-footer">
    <a href="{{ create_url }}" class="btn btn-success btn-flat" type="button">
        <i class="fas fa-plus"></i> Nuevo Dispositivo
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat" type="button">
        <i class="fas fa-sync"></i> Actualizar
    </a>
</div>
<script type="application/javascript">
    $(function() {
        $('#data').DataTable({
            responsive: true
        });

        $('.new-device').on('click', () => {
            $.ajax({
                url: "{% url 'gestion_riego:device_list' %}",
                type: 'POST',
                data: {id: 1},
                dataType: 'json'
            }).done((data) =>{
                console.log(data)
            }).fail((jqXHR, textStatus, errorThrown) =>{
                alert(textStatus+': '+errorThrown)
            }).always((data) => {
            })
        });
    });
</script>
{% endblock body %}