{% extends 'gestion_riego/layout.html' %}
{% load static %} <!--En padre si hay load static, pero como estoy llamando aqui un java script tengo que volver a ponerlo -->
{% block titulo %}Lista de Tipos de Sensores{% endblock titulo %}
{% block javascript %}<script src="{% static 'gestion_riego/device/js/list.js' %}"></script> {% endblock javascript %}
{% block card_title %} <i class="fas fa-list"></i> {{title}} {% endblock card_title %}
{% block body %}
<table class="table table-striped table-bordered" id="data">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>IP</th>
            <th>Topic</th>
            <th>Puerto</th>
            <th>Opciones</th>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="card-footer">
    <a href="{{ create_url }}" class="btn btn-success btn-flat" type="button">
        <i class="fas fa-plus"></i> Nuevo Dispositivo
    </a>
    <a class="btn btn-success btn-flat" type="button">
        <i class="fas fa-sync"></i> Actualizar
    </a>

    <!--<button class="btn btn-primary btn-flat btnTest">
         <i class="fas fa-plus"></i> AJAX
    </button>-->
</div>
<script type="application/javascript">
    $(function() {
        $('.btn').on('click', function (){
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {},
                dataType: 'json'
            }).done(function (data){
            console.log(data);
                location.href = '{{ list_url }}';
            }).fail(function(jqXHR, textStatus, errorThrown){
                alert(textStatus+': '+errorThrown);
            }).always(function(data) {
            });
        });

    });
</script>
<!-- se utilizo antes para hace pruebas con la tabla y con el boton ajax

-->
{% endblock body %}