{% extends 'gestion_riego/layout.html' %}
{% block titulo %}{{ title }}{% endblock titulo %}

{% block card_title %} {{ title }} {% endblock card_title %}

{% block body %}
    <table class="table table-hover" id="data">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Horario Riego 1</th>
            <th>Horario Riego 2</th>
            <th>Horario Riego 3</th>
            <th>Tipo Suelo</th>
            <th>Dispositivo IoT</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for plataforma in object_list %}
            <tr>
                <td>{{ plataforma.id }}</td>
                <td>{{ plataforma.nombre }}</td>
                <td>{{ plataforma.descripcion }}</td>
                <td>{{ plataforma.horario1 }}</td>
                <td>{{ plataforma.horario2 }}</td>
                <td>{{ plataforma.horario3 }}</td>
                <td>{{ plataforma.tipo_suelo.nombre }}</td>
                <td>{{ plataforma.device.nombre }}</td>
                <td><a href="{% url 'gestion_riego:plataforma_update' plataforma.id %}" class="btn btn-secondary">ACTUALIZAR</a>
                    <a href="{% url 'gestion_riego:plataforma_delete' plataforma.id %}"
                       class="btn btn-danger">ELIMINAR</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="card-footer">
        <a href="{{ create_url }}" class="btn btn-success btn-flat" type="button">
            <i class="fas fa-plus"></i> Nueva Plataforma
        </a>
        <a href="{{ list_url }}" class="btn btn-success btn-flat" type="button">
            <i class="fas fa-sync"></i> Actualizar
        </a>
    </div>
{% endblock body %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function () {
            $("#data").DataTable({
                responsive: true,
            });
        });


    </script>
{% endblock javascript %}