{% extends 'gestion_riego/layout.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock titulo %}

{% block card_title %} {{ title }}{% endblock card_title %}

{% block body %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="table_historial_riegos">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Codigo Sensor</th>
                    <th scope="col">Fecha Riego</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col">Humedad Suelo</th>
                    <th scope="col">Humedad Ambiental</th>
                    <th scope="col">Temperatura Ambiental</th>
                    <th scope="col">Dispositivo</th>
                    <th scope="col">Encargado</th>
                    <th scope="col">Rol</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="card-footer">
            <a href="{{ list_url }}" class="btn btn-success btn-flat" type="button">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div>
{% endblock body %}
{% block javascript %}
    <script src="{% static 'gestion_riego/historial_riego/js/list.js' %}"></script>
{% endblock javascript %}