{% extends 'gestion_riego/layout.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock titulo %}

{% block card_title %} {{ title }}{% endblock card_title %}

{% block body %}
    <div class="row">
        <div class="table-responsive">
            <table class="table" style="width:2000px" id="table_historial_riegos">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 10px">ID</th>
                    <th style="width: 10px">C</th>
                    <th style="width: 50px;">Fecha Riego</th>
                    <th style="width: 10px">1 variable (minutos)</th>
                    <th style="width: 320px;">FL Tiempo 1</th>
                    <th style="width: 10px">3 variable (minutos)</th>
                    <th style="width: 320px;">FL Tiempo 3</th>
                    <th style="width: 10px">4 variable (minutos)</th>
                    <th style="width: 320px;">FL Tiempo 4</th>
                    <th style="width: 10px">Humedad Suelo (puntos)</th>
                    <th style="width: 10px">Humedad Ambiental (%)</th>
                    <th style="width: 10px">Temperatura Ambiental (ºC)</th>
                    <th style="width: 10px">Evapotrans (mm/día)</th>
                    <th scope="col">Dispositivo</th>
                    <!--<th scope="col">Encargado</th>
                    <th scope="col">Tipo de Lógica Difusa</th>
                    <th scope="col">Rol</th> -->
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="card-footer">
            <a href="{{ list_url }}" class="btn btn-success btn-flat" type="button">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div>
{% endblock body %}
{% block javascript %}
    <script src="{% static 'gestion_riego/historial_riego/js/HistorialRiegoView.js' %}"></script>
{% endblock javascript %}