{% extends 'gestion_riego/layout.html' %}
{% load static %} <!--En padre si hay load static, pero como estoy llamando aqui un java script tengo que volver a ponerlo -->
{% block titulo %}Lista de Tipos de Sensores{% endblock titulo %}

{% block card_title %} <i class="fas fa-list"></i> {{ title }} {% endblock card_title %}
{% block body %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="data">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">IP</th>
                    <th scope="col">Tópico</th>
                    <th scope="col">Puerto</th>
                    <th scope="col">Frecuencia de Actualización (minutos)</th>
                    <th scope="col">Tipo de Lógica Difusa</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-success btn-flat btnAdd" href="{% url 'gestion_riego:device_create' %}" type="button">
            <i class="fas fa-plus"></i> Nuevo Dispositivo
        </a>
        <a class="btn btn-secondary btn-flat bntUpdate" type="button">
            <i class="fas fa-sync"></i> Actualizar
        </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDevice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" action=".">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-plus"></i><span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input name="action" type="hidden" value="add">
                            <input name="id" id="id" type="hidden" value="0">
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

{% endblock body %}
{% block javascript %}
    <script src="{% static 'gestion_riego/device/js/list.js' %}"></script>
    <script type="application/javascript">
        $(function () {
            $('.bntUpdate').on('click', function () {
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                    location.href = '{{ list_url }}';
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                });
            });
        });
    </script>
{% endblock javascript %}
