{% extends 'gestion_riego/layout.html' %}
{% load static %} <!--En padre si hay load static, pero como estoy llamando aqui un java script tengo que volver a ponerlo -->
{% block titulo %}Lista de Tipos de Sensores{% endblock titulo %}

{% block card_title %} <i class="fas fa-list"></i> {{ title }} {% endblock card_title %}
{% block body %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="data">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">IP</th>
                    <th scope="col">Tópico</th>
                    <th scope="col">Puerto</th>
                    <th scope="col">Frecuencia de Actualización (minutos)</th>
                    <th scope="col">Tipo de Lógica Difusa</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-success btn-flat btnAdd" href="{% url 'gestion_riego:device_create' %}" type="button">
            <i class="fas fa-plus"></i> Nuevo Dispositivo
        </a>
        <a class="btn btn-secondary btn-flat bntUpdate" type="button">
            <i class="fas fa-sync"></i> Actualizar
        </a>
    </div>

{% endblock body %}
{% block javascript %}
    <script src="{% static 'gestion_riego/device/js/DeviceView.js' %}"></script>
{% endblock javascript %}
