{% extends 'gestion_riego/layout.html' %}
{% load static %}
{% block titulo %}Formulario Dashboard{% endblock titulo %}
{% block card_title %} Dashboard {% endblock card_title %}

{% block body %}
    <div class="card">
        <ol>
            {% for device in object_list %}
                <li>{{ device }}</li>
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <input id="iptxt" type="text" value='{{ device.ip }}' class="form-control">
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <input id="topictxt" type="text" value='{{ device.topic }}' class="form-control">

                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <input id="puertotxt" type="number" value='{{ device.puerto }}' class="form-control">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="box box-solid">
                            <div class="box-body border-radius-none">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div id="SensorTemperatura1" class="200x160px"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div id="SensorHumedad1" class="200x160px"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div id="SensorCaudal1" class="200x160px"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div id="SensorConsumoAgua1" class="200x160px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="box box-solid">
                            <div class="box-body border-radius-none">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-6">
                                        <div id="SensorSuelo1" class="200x160px"></div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div id="SensorSuelo2" class="200x160px"></div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div id="SensorSuelo3" class="200x160px"></div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div id="SensorSuelo4" class="200x160px"></div>
                                    </div>
                                </div>
                                <!--<div class="row">

                                    <div class="col-sm-6 col-lg-6">
                                        <div id="PromedioSensorSuelo" class="200x160px"></div>
                                    </div>

                                </div>-->
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="box box-solid">
                            <div class="box-body border-radius-none">
                                <div class="chart">
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="box box-solid">
                            <div class="box-body border-radius-none">
                                <div class="chart">
                                    <figure class="highcharts-figure">
                                        <div id="container2"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div>
                        <label>Activar Riego: </label>
                        <a class="btn btn-success btn-flat" id="on" type="button">
                            <i class="fas fa-on"></i> ON
                        </a>
                        <a class="btn btn-danger btn-flat" id="off" type="button">
                            <i class="fas fa-on"></i> OFF
                        </a>
                        <a id="estado">-</a>
                    </div>
                </div>
            {% endfor %}
        </ol>
    </div>
    <div class="jumbotron">
        <h1 class="display-5">HISTORIAL DE RIEGO</h1>
        <p class="lead">Muestra información de riego por dias y horas</p>
        <hr class="my-4">
        <h4 class="display-5">TIPO DE LÓGICA DIFUSA: 3 VARIABLES</h4>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <label>Elegir días:</label>
                <input type="date" id="dateDia">
                <figure class="highcharts-figure">
                    <div id="container4"></div>
                </figure>
            </div>
            <div class="col-sm-12 col-lg-6">
                <input type="date" id="dateMes">
                <figure class="highcharts-figure">
                    <div id="c_graph_historial_riego_mes"></div>
                </figure>
            </div>
        </div>
        <h4 class="display-5">TIPO DE LÓGICA DIFUSA: 1 VARIABLE</h4>
        <div class="row">

            <div class="col-sm-12 col-lg-12">
                <figure class="highcharts-figure">
                    <div id="c_graph_historial_riego_mes_1_variable"></div>
                </figure>
            </div>
        </div>
        <h4 class="display-5">TIPO DE LÓGICA DIFUSA: 4 VARIABLES</h4>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <figure class="highcharts-figure">
                    <div id="c_graph_historial_riego_mes_4_variable"></div>
                </figure>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js"
            type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'gestion_riego/js/mqtt.js' %}" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var options = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Historial del Riego por Horas: {{dia}}'
                },
                subtitle: {
                    text: 'Reporte de riego'
                },
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'minutos'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Tiempo Riego: Promedio',
                    data: {{ historial_riego_day_5|safe }}

                },
                    {
                        name: 'Tiempo Riego: Sensor 1',
                        data: {{ historial_riego_day_1|safe }}

                    },
                    {
                        name: 'Tiempo Riego: Sensor 2',
                        data: {{ historial_riego_day_2|safe }}

                    },
                    {
                        name: 'Tiempo Riego: Sensor 3',
                        data: {{ historial_riego_day_3|safe }}

                    },
                    {
                        name: 'Tiempo Riego: Sensor 4',
                        data: {{ historial_riego_day_4|safe }}

                    }]
            }

            var dia = Highcharts.chart('container4', options);

            var options1 = {
                chart: {
                    type: 'column'
                },
                title: {},
                subtitle: {
                    text: 'Reporte de riego'
                },
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'minutos'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: []
            }

            var options1 = {
                chart: {
                    type: 'column'
                },
                title: {},
                subtitle: {
                    text: 'Reporte de riego'
                },
                xAxis: {
                    categories: [
                        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'minutos'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: []
            }


            $('#dateDia').on('change', function () {
                var fecha = $(this).val();
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_historial_riego_day',
                        'fecha': fecha
                    },
                    dataType: 'json',
                }).done(function (data) {
                    //console.log(data);

                    var dia = new Highcharts.chart('container4', options1);
                    dia.addSeries({
                        name: 'Tiempo Riego: Promedio',
                        data: data.historial_riego_day_5
                    })
                    dia.addSeries({
                        name: 'Tiempo Riego: Sensor 1',
                        data: data.historial_riego_day_1
                    })
                    dia.addSeries({
                        name: 'Tiempo Riego: Sensor 2',
                        data: data.historial_riego_day_2

                    })
                    dia.addSeries({
                        name: 'Tiempo Riego: Sensor 3',
                        data: data.historial_riego_day_3
                    })
                    dia.addSeries({
                        name: 'Tiempo Riego: Sensor 4',
                        data: data.historial_riego_day_4
                    })

                    dia.setTitle({
                        text: data.dia_riego
                    });


                    /*$.each(data, function (key, value) {
                        dia.addSeries({
                            name: 'Sensor '+key,
                            data: value.historial_riego_day_1
                        })
                    })*/

                    //dia.redraw();

                    return false;
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                });
            });

        });
    </script>
    <script>
        var options = {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Historial del Riego por Día: {{mes}}'
            },
            subtitle: {
                text: 'Reporte de riego'
            },
            xAxis: {
                categories: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'minutos'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Tiempo Riego: Promedio',
                data: {{ historial_riego_5|safe }}

            },
                {
                    name: 'Tiempo Riego: Sensor 1',
                    data: {{ historial_riego_1|safe }}

                },
                {
                    name: 'Tiempo Riego: Sensor 2',
                    data: {{ historial_riego_2|safe }}

                },
                {
                    name: 'Tiempo Riego: Sensor 3',
                    data: {{ historial_riego_3|safe }}

                },
                {
                    name: 'Tiempo Riego: Sensor 4',
                    data: {{ historial_riego_4|safe }}

                }]
        }

        var optionsMonth1Variable = {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Historial del Riego por Día: {{mes}}'
            },
            subtitle: {
                text: 'Reporte de riego'
            },
            xAxis: {
                categories: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'minutos'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Tiempo Riego: Promedio',
                data: {{ v1_historial_riego_5|safe }}

            },
            {
                name: 'Tiempo Riego: Sensor 1',
                data: {{ v1_historial_riego_1|safe }}

            },
            {
                name: 'Tiempo Riego: Sensor 2',
                data: {{ v1_historial_riego_2|safe }}

            },
            {
                name: 'Tiempo Riego: Sensor 3',
                data: {{ v1_historial_riego_3|safe }}

            },
            {
                name: 'Tiempo Riego: Sensor 4',
                data: {{ v1_historial_riego_4|safe }}

            }]
        }

        var optionsMonth4Variable = {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Historial del Riego por Día: {{mes}}'
            },
            subtitle: {
                text: 'Reporte de riego'
            },
            xAxis: {
                categories: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'minutos'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Tiempo Riego: Promedio',
                data: {{ v4_historial_riego_5|safe }}

            },
                {
                    name: 'Tiempo Riego: Sensor 1',
                    data: {{ v4_historial_riego_1|safe }}

                },
                {
                    name: 'Tiempo Riego: Sensor 2',
                    data: {{ v4_historial_riego_2|safe }}

                },
                {
                    name: 'Tiempo Riego: Sensor 3',
                    data: {{ v4_historial_riego_3|safe }}

                },
                {
                    name: 'Tiempo Riego: Sensor 4',
                    data: {{ v4_historial_riego_4|safe }}

                }]
        }

        var mes = Highcharts.chart('c_graph_historial_riego_mes', options);
        var mes1Variable = Highcharts.chart('c_graph_historial_riego_mes_1_variable', optionsMonth1Variable);
        var mes4Variable = Highcharts.chart('c_graph_historial_riego_mes_4_variable', optionsMonth4Variable);

        var options1 = {
            chart: {
                type: 'column'
            },
            title: {},
            subtitle: {
                text: 'Reporte de riego'
            },
            xAxis: {
                categories: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'minutos'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: []
        }

        var optionsMonth1VariableAjax = {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Historial del Riego por Día: {{mes}}'
            },
            subtitle: {
                text: 'Reporte de riego'
            },
            xAxis: {
                categories: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'minutos'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: []
        }

        var optionsMonth4VariableAjax = {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Historial del Riego por Día: {{mes}}'
            },
            subtitle: {
                text: 'Reporte de riego'
            },
            xAxis: {
                categories: [
                    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'minutos'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} minutos</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: []
        }

        $(function () {
            $('#dateMes').on('change', function () {
                var fecha = $(this).val();
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_historial_riego_month',
                        'fecha': fecha
                    },
                    dataType: 'json',
                }).done(function (data) {
                    //console.log(data);

                    var mes = new Highcharts.chart('c_graph_historial_riego_mes', options1);
                    mes.addSeries({
                        name: 'Tiempo Riego: Promedio',
                        data: data.historial_riego_month_5
                    })
                    mes.addSeries({
                        name: 'Tiempo Riego: Sensor 1',
                        data: data.historial_riego_month_1
                    })
                    mes.addSeries({
                        name: 'Tiempo Riego: Sensor 2',
                        data: data.historial_riego_month_2

                    })
                    mes.addSeries({
                        name: 'Tiempo Riego: Sensor 3',
                        data: data.historial_riego_month_3
                    })
                    mes.addSeries({
                        name: 'Tiempo Riego: Sensor 4',
                        data: data.historial_riego_month_4
                    })

                     mes.setTitle({
                        text: data.dia_riego
                    });

                    var mes1variable = new Highcharts.chart('c_graph_historial_riego_mes_1_variable', optionsMonth1VariableAjax);
                    mes1variable.addSeries({
                        name: 'Tiempo Riego: Promedio',
                        data: data.v1_historial_riego_month_5
                    })
                    mes1variable.addSeries({
                        name: 'Tiempo Riego: Sensor 1',
                        data: data.v1_historial_riego_month_1
                    })
                    mes1variable.addSeries({
                        name: 'Tiempo Riego: Sensor 2',
                        data: data.v1_historial_riego_month_2

                    })
                    mes1variable.addSeries({
                        name: 'Tiempo Riego: Sensor 3',
                        data: data.v1_historial_riego_month_3
                    })
                    mes1variable.addSeries({
                        name: 'Tiempo Riego: Sensor 4',
                        data: data.v1_historial_riego_month_4
                    })
                     mes1variable.setTitle({
                        text: data.dia_riego
                    });

                    var mes4variable = new Highcharts.chart('c_graph_historial_riego_mes_4_variable', optionsMonth4VariableAjax);
                    mes4variable.addSeries({
                        name: 'Tiempo Riego: Promedio',
                        data: data.v4_historial_riego_month_5
                    })
                    mes4variable.addSeries({
                        name: 'Tiempo Riego: Sensor 1',
                        data: data.v4_historial_riego_month_1
                    })
                    mes4variable.addSeries({
                        name: 'Tiempo Riego: Sensor 2',
                        data: data.v4_historial_riego_month_2

                    })
                    mes4variable.addSeries({
                        name: 'Tiempo Riego: Sensor 3',
                        data: data.v4_historial_riego_month_3
                    })
                    mes4variable.addSeries({
                        name: 'Tiempo Riego: Sensor 4',
                        data: data.v4_historial_riego_month_4
                    })

                    mes4variable.setTitle({
                        text: data.dia_riego
                    });


                    return false;
                })
            })
        });
    </script>
{% endblock javascript %}