{% extends 'gestion_riego/layout.html' %}
{% load static %}
{% block titulo %}Formulario Dashboard{% endblock titulo %}
{% block card_title %} Dashboard {% endblock card_title %}

{% block body %}

<ol>


    <body onload="init();">
    {% for device in devices %}
    <li>{{device}}</li>
    <!--Start the javascript ball rolling and connect to the mqtt broker-->
    <input id="iptxt" type="text" value='{{device.ip}}'>
    <input id="topictxt" type="text" value='{{device.topic}}'>
    <input id="puertotxt" type="number" value='{{device.puerto}}'>
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div id="SensorTemperatura1" class="200x160px"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="SensorHumedad1" class="200x160px"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="SensorCaudal1" class="200x160px"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="SensorConsumoAgua1" class="200x160px"></div>
                    </div>
                </div>
                <div id="container" style="height: 500px; min-width: 500px"></div>
                <!-- this the placeholder for the chart-->

            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <div id="SensorSuelo1" class="200x160px"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="SensorSuelo2" class="200x160px"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="SensorSuelo3" class="200x160px"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="SensorSuelo4" class="200x160px"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="PromedioSensorSuelo" class="200x160px"></div>
                    </div>
                </div>
                <div id="container2" style="height: 500px; min-width: 500px"></div>
                <!-- this the placeholder for the chart-->
            </div>
        </div>
    </div>
    <div>
        <a>Activar Riego: </a>
        <button type='button' onclick='OnOff("ON")'>ON</button>
        <button type='button' onclick='OnOff("OFF")'>OFF</button>
        <a id="estado">-</a>
    </div>
    {% endfor %}
    </body>


</ol>

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="{% static 'gestion_riego/js/mqtt.js' %}" type="text/javascript"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
{% endblock javascript %}


{% endblock body %}