
{% extends 'gestion_riego/layout.html' %}
{% block titulo %}Formulario Siembra{% endblock titulo %}

{% block card_title %} Siembras {% endblock card_title %}

{% block body %}
<table class="table table-hover" id="data">
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha Siembra</th>
        <th>Cantidad Plantas</th>
        <th>Distancia Siembra</th>
        <th>Plataforma</th>
        <th>Planta</th>
        <th>Opciones</th>

    </tr>
    </thead>
    <tbody>
    {% for siembra in object_list %}
    <tr>
        <td>{{siembra.id}}</td>
        <td>{{siembra.fecha_siembra}}</td>
        <td>{{siembra.cantidad_plantas}}</td>
        <td>{{siembra.distancia_siembra}}</td>
        <td>{{siembra.plataforma.nombre}}</td>
        <td>{{siembra.planta.nombre}}</td>


        <td><a href="{% url 'siembra_update' siembra.id %}" class="btn btn-secondary">ACTUALIZAR</a>  <a href="{% url 'siembra_delete' siembra.id %}" class="btn btn-danger">ELIMINAR</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<script type="application/javascript">
    $(document).ready(function () {
      $("#data").DataTable({
        responsive: true,
      });
    });
  </script>
{% endblock body %}