# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\casa-ortiz\django\smartnature\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
